.AboutUs{
    background-color: var(--grey);
    height: auto; /* Example: Set component height to full viewport height */
    display: flex;
    justify-content: center;
    color: var(--black);
}

.text-center{
    display: flex;
    justify-content: space-around;
}

.aboutus-grid{
    text-align: left;
    width: 80%;
    color: var(--light);
    margin-right: 20px;
    padding: 20px;
}

.image-grid{
    display: grid;
    align-content: center;
    height: 20%;
    width: 20%;
    margin: 20px;
}

.aboutContent{
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.aboutTitle {
    margin-top: 40px;
    font-size: var(--title-size);
    border-bottom: 2px solid var(--primary); /* Adjust color and thickness as needed */
    display: inline-block;
    padding-bottom: 5px; /* Adjust space between text and underline */
    width: 30%;
    color: var(--black);
    text-align: left;
    font-weight: bold;
}

.h2-case{
    text-align: left;
    color: var(--light);
    font-size: 25px;
}

.aboutH2{
    margin-top: 20px;
    font-size: var(--size-h2);
    text-align: left;
}

.aboutH4{
    margin-top: 40px;
    font-size: var(--size-h3);
}

.slogan-about{
    font-size: var(--quote);
    color: var(--primary);
    font-weight: bold;
    margin-top: 50px;
}

.stats-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .stat-item {
    width: 200px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    color: white;
  }
  
  .stat-item:nth-child(odd) {
    background-color: var(--secondary);
  }
  
  .stat-item:nth-child(even) {
    background-color: var(--secondary2);
  }
  
  .stat-item h2 {
    font-size: 36px;
    margin: 0;
  }
  
  .stat-item h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .stat-item p {
    font-size: 14px;
    margin: 0;
  }

 /* Existing styles for mobile devices */
@media (max-width: 768px) {
    .AboutUs {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .text-center {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .aboutus-grid{
        text-align: center;
        align-items: center;
        margin: 0 0 ;
        width: 100%;
    }
    .stats-container{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .image-grid {
        width: 100%; 
        margin: 0 0;
    }

    .stat-item {
        width: 100%; /* Full width for each item in a two-column grid */
        margin: 0px 0; /* Space around each item */
    }

    .aboutTitle {
        font-size: 2rem;
        width: 100%;
        text-align: center;
    }

    .h2-case {
        font-size: 1.2rem;
        margin-top: 20px;
        text-align: center;
    }

    .aboutH2 {
        font-size: 1rem;
        text-align: center;
    }

    .aboutH4 {
        font-size: 0.9rem;
    }

    .slogan-about {
        font-size: 1.5rem;
        margin-top: 20px;
    }
}
