.after-header-whole {
    width: 100%;
    /* background-image: linear-gradient(var(--secondary), var(--grey)); */
    background-color: var(--white);
    background-image: url("../images/carousel1.jpg");
    background-blend-mode: overlay;
    background-size: cover; 
    overflow-y: auto;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height:18vh
  }
  
  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%; /* Adjust as needed */
  }
  
  .call-us {
    font-size: 30px;
    font-weight: bold;
    color: var(--black); /* Example text color */
  }
  
  .call-us-details {
    font-size: 40px;
    color: var(--secondary); /* Example text color */
  }
  
  .book-now-button {
    text-decoration: none; /* Remove underline from Link */
  }
  
  .book-now-header {
    font-size: 40px;
    font-weight: bold;
    color: #fff; /* Button text color */
    background-image: linear-gradient(var(--black), var(--secondary));
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .now{
    color: var(--primary);
    font-style: italic;
  }
  

  .book-now-header:hover{
    animation: oscillate 0.5s infinite alternate;
  }

  @keyframes oscillate {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(10px);
    }
  }
  
  @media (max-width: 768px) {
    .after-header-whole {
      padding: 10px 0;
      height: auto;
      flex-direction: column;
    }
  
    .flex-container {
      flex-direction: column;
      width: 90%; /* Adjust as needed */
      align-items: center;
      text-align: center;
    }
  
    .call-us {
      font-size: 20px;
    }
  
    .call-us-details {
      font-size: 30px;
    }
  
    .book-now-header {
      font-size: 30px;
      padding: 8px 16px;
      margin-top: 10px;
    }
  }
  