

/* Carousel.css */

.carousel-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-section {
  flex: 0 0 60%;
  position: relative;
}

.carousel-image {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.image-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background: linear-gradient(to right, white, transparent);
  z-index: 1;
}

.text-section {
  text-align: left;
  z-index: 2;
  padding: 20px 20px;
  margin-left: 40px;
  background-color: rgba(11, 11, 11, 0.2);
}

.text-section h3 {
  color: var(--primary);
  font-weight: bold;
  font-size: 45px;
}

.text-section p {
  font-size: 30px;
  color: var(--secondary);
}

.read-more-btn {
  background-image: linear-gradient(var(--black), var(--secondary));
  color: var(--white);
  width: 30%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 25px;
}

.read-more-btn:hover{
  background-image: linear-gradient(var(--primary), var(--primary));
}


/* Responsive CSS */
@media (max-width: 768px) {
  .carousel-content {
    flex-direction: column;
  }

  .text-section {
    order: 2; /* Ensure text-section comes after image-section */
    top: auto;
    transform: none;
    width: 100%;
    margin-left: 0;
    padding: 20px;
  }

  .image-section {
    order: 1; /* Ensure image-section comes before text-section */
    flex: 0 0 100%;
  }

  .image-section::before {
    width: 100%;
    background: none;
  }

  .text-section h3 {
    font-size: 25px;
  }
  .carousel-image{
    height: 40vh;
    width: auto;
  }

  .read-more-btn{
    font-size: 18px;
    width: 100%;
  }

  .text-section p {
    font-size: 18px;
  }
}