.cleaning-locations {
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
    background-color: var(--secondary);
  }
  
  .cleaning-locations h1 {
    font-size: var(--title-size);
    margin-bottom: 20px;
    color: var(--white);
  }
  
  .cleaning-locations p {
    font-size: 18px;
    margin-bottom: 30px;
    color: var(--grey);
  }
  
  .location-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 10px;
  }
  
  .location-item {
    flex: 1;
    min-width: 0; /* Allows items to shrink below their content size */
  }
  
  .location-item img {
    width: 100%;
    height: 150px; /* Reduced height to fit better in a single row */
    object-fit: cover;
    border-radius: 8px;
  }
  
  .location-item p {
    margin-top: 10px;
    font-size: 12px; /* Reduced font size to fit better */
  }
  
  @media (max-width: 1024px) {
    .location-grid {
      flex-wrap: wrap;
    }
    
    .location-item {
      flex-basis: calc(50% - 5px);
    }
    
    .cleaning-locations h1{
      font-size: 25px;
    }
  }
  
  @media (max-width: 600px) {
    .location-item {
      flex-basis: 100%;
    }

    .cleaning-locations h1{
      font-size: 25px;
    }
  }