.footer {
    background-color: var(--black);
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
  }
   
  .footer-bottom {
    text-align: center;
    width: 100%;
    font-size: 0.9em;
    padding: 10px;
  }
  
  @media (max-width: 768px) {
    .footer {
      flex-direction: column;
      align-items: center;
    }
  }
  