.navbar-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: 70px;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  padding: 0 0;
  margin: 0 0 ;
}

.navbar-right .logo{
  padding: 2px 2px;
  margin: 8px 0px;
  position: absolute;
  top: -100%;
  height: 170px;
  animation: bounce 2s infinite;
}

.phone-number {
  display: flex;
  align-items: center;
  margin-right: 20px;
  text-decoration: none;
  color: #333;
}

.book-now {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 20px;
}

.social-links {
  display: flex;
  gap: 10px;
}

.social-links a {
  color: #333;
  font-size: 20px;
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .navbar-section {
    flex-basis: 33.33%;
  }

  .left {
    order: 1;
    justify-content: flex-start;
  }

  .center {
    order: 2;
    justify-content: center;
  }

  .right {
    order: 3;
    justify-content: flex-end;
  }

  .phone-number, .book-now {
    font-size: 0.8em;
  }

  .book-now {
    padding: 6px 12px;
  }

  .social-links a {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .navbar-container {
    padding: 10px;
    height: 60px;
  }

  .phone-number {
    display: none;
  }

  .book-now {
    font-size: 0.7em;
    padding: 4px 8px;
  }

  .social-links a {
    font-size: 14px;
  }

  .navbar-right .logo {
    height: 140px;
    position: absolute;
    top: -80%;
  }
}