.header {
  align-items: center;
  padding: 10px 0px;
  background-color: white;
  max-height: 150px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 90px;
}

.main-logo{
  width: 100%;
}

.main-logo img {

  height: 90px;
  z-index: -3;
}

.bottom-navbar{
  display: flex;
  justify-content: space-around;
  max-height: 70px;
  align-items: center;
}

.phone {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2em;
  margin-right: 10px;
  width: 100%;
}

.phone-head{
  width: 80%;
  font-size: 30px;
}

.book-now-head{
  background-color: var(--blue);
  width: 80%;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 20px;
  border-radius: 20px;
}

.book-now-head:hover {
  background-color: var(--red);
}

/* Add padding to the body to prevent content from hiding behind the fixed header */
body {
  padding-top: 150px; /* Adjust this value based on your header's max-height */
}

/* Mobile styles */
@media (max-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 40px;
  }

  .main-logo img {
    width: 80%;
  }

  .book-now-head{
    width: 100%;
    font-size: 10px;
    margin: 0 0;
  }

  .phone-head{
    font-size: 10px;
    width: 140%;
    margin: 0 0;
  }

  /* Adjust body padding for mobile */
  body {
    padding-top: 60px; /* Adjust this value based on your mobile header's height */
  }
}