/* Navbar.css */
.navi-bar {
  background-color: var(--secondary);
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 6px 4px -2px black;
}

.navbar-second {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-logo {
  color: var(--white);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-items-second {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  z-index: 4;
}

.nav-items-second li {
  position: relative;
  z-index: 3;
  transition: background-color 0.2s ease;
}

.nav-items-second li a {
  color: var(--white);
  text-decoration: none;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  height: 60px;
  transition: color 0.2s ease;
}

.nav-items-second li:hover a{
  color: var(--white);
}

.dropdown {
  transition: display 0.3s ease;
  
}

.nav-items-second li:hover .dropdown {
  display: block;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  color: var(--white);
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 10;
}

/* Add this to ensure content doesn't hide behind the fixed navbar */
body {
  padding-top: 60px;
}

@media screen and (max-width: 768px) {
  .navi-bar{
    top: 60px;
  }

  .hamburger {
    display: flex;
    position: fixed;
    transition: transform 0.3s ease-in-out;
  }

  .nav-items-second {
    position: fixed;
    left: -100%;
    top: 120px;
    flex-direction: column;
    background-color: var(--primary);
    width: 215px;
    height: calc(100% - 60px);
    transition: 0.3s;
  }

  .nav-items-second.open {
    left: 0;
  }

  .nav-items-second li {
    width: 100%;
  }

  .nav-items-second li a {
    padding: 20px;
  }

  .navi-bar.open .navbar-second {
    margin-left: 0;
  }

  @media (max-width: 768px) {
    .dropdown {
      display: none;
    }
  }

  .hamburger.open {
    transform: translateX(-0px); /* Adjust this value as needed */
  }
}