/* Navbar.css */
.navi-bar {
  background-color: var(--red);
  position: relative;
}

.navbar-second {
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
}

.navbar-logo {
  color: var(--white);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-items-second {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-items-second li {
  position: relative;
  z-index: 3;
}

.nav-items-second li a {
  color: var(--white);
  text-decoration: none;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  height: 60px;
}

.nav-items-second li:hover {
  background-color: var(--black);
}

.nav-items-second li:hover .dropdown {
  display: block;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  color: var(--black);
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-items-second {
    position: fixed;
    left: -100%;
    top: 40px;
    flex-direction: column;
    background-color: var(--red);
    width: 215px;
    height: calc(100% - 60px);
    transition: 0.3s;
  }

  .nav-items-second.open {
    left: 0;
  }

  .nav-items-second li {
    width: 80%;
  }

  .nav-items-second li a {
    padding: 20px;
  }

  .navi-bar.open .navbar-second {
    margin-left: 0;
  }
}