.faq-whole{
  background-color: var(--white);
  margin-top: 0;
}


.faq-container {
    margin: 0 auto;
    padding: 20px;
    color: var(--secondary);
     
  }
  
  .faq {
    color: var(--black);
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--title-size);
  }
  
  .faq-item {
    margin-bottom: 30px;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .faq-question {
    background-color: var(--grey);
    padding: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  
  .arrow {
    margin-right: 10px;
    transition: transform 0.3s ease;
    color: var(--secondary);
  }
  
  .arrow.open {
    transform: rotate(180deg);
    color: var(--white);
  }
  
  .faq-answer {
    padding: 15px;
    background-color: var(--black);
    line-height: 1.6;
    color: var(--grey);
  }

  .faq-question:hover{
    background-color: var(--black);
    color: var(--white);
  }

  @media (max-width: 768px){
    .faq {
      width: 100%;
      font-size: 25px;
      text-align: center;
    }
  }
 