.desktop{
    font-family: 'Trebuchet MS', sans-serif;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

:root {
    --red: #DA0037;
    --white: #ecf3f9;
    --light: #B4B4B8;
    --black: #36454F;
    --lighter: #E84545;
    --grey: #B5C0D0;
    --blue: #1A5A75;
    --lightblue: #276678;
    --yellow: #F4CD02;
    --title-size: 40px;
    --size-h2: 25px;
    --size-h3: 20px;
    --quote: 40px;
  }

  .border{
    height: 5px;
    background-color: var(--red);
    width: 20%;
    margin-bottom: 20px;
    margin-top: -15px;
  }

  .comp-name{
    color: var(--red);
  }

  @media screen and (max-width: 768px){
    
    .desktop{overflow: hidden;}
  }
