.desktop{
    font-family: 'Trebuchet MS', sans-serif;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

:root {
    --primary: #f13c20;
    --secondary: #4056a1;
    --secondary2: #d79922;
    --white: #c5cbe3;
    --light: #141414;
    --black: #141414;
    --lighter: #E84545;
    --grey: #eee2dc;

    --lightblue: #276678;
    --yellow: #F4CD02;
    --title-size: 40px;
    --size-h2: 25px;
    --size-h3: 20px;
    --quote: 40px;
  }

  .border{
    height: 5px;
    background-color: var(--red);
    width: 20%;
    margin-bottom: 20px;
    margin-top: -15px;
  }

  .comp-name{
    color: var(--primary);
  }

  @media screen and (max-width: 768px){
    
    .desktop{overflow: hidden;}
  }
